server:
  #  port: ${PORT:8000}
  port: 0

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  config:
    import: optional:configserver:http://config-server:8888/
  application:
    name: template-service
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
      path: /h2-console
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:ums
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
        show_sql: true
        generate-ddl: true
      path: /h2-console

eureka:
  instance:
    prefer-ip-address: true
    ip-address: ${host_ip:localhost}
    hostname: ${host_ip:localhsot}
    instance-id: ${spring.application.name}:${host_ip:localhost}:${random.value}
    non-secure-port: ${server.port}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

